.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .mensagens {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .input-area {
    display: flex;
    padding: 10px;
    background-color: #234e64;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #317791;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  