.cabecalho {
    background-color: #234e64;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-left: 2px solid #ffffff5b;
  }
  
  .status-text {
    font-size: 0.8em;
  }
  